.postContainer{
    margin : 20px;
    display : grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.post {
    background-color : var(--lightpowder);
    border-radius : 10px;
    padding : 30px 15px;
    font-weight : bold;
    font-size : 1.5rem;
    font-family : "Faculty Glyphic";
    text-align : center;
    max-width : max-content;
}

a {
    text-decoration : none;
    color : black;
}